<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aurora_CAPTCHA</title>
    <script>
        function submit() {
            var guest_code = document.getElementById('guest_code');
            var post_data = {
                'guest_code': guest_code.value,
                'tick': window.pass_tick
            };
            var check_state = request_post('/login', post_data);
            alert(check_state);
            return check_state;
        }
    </script>
</head>
<body>

Guest Code: <input id="guest_code" type="text" value=""/>
<br/>
<img id="load" src="{{ static_url('images/bg_color.png') }}" onclick="captcha_click()">
<br/>
<input type="button" value="submit" onclick="submit()"/>

<script src="{{ static_url('js/sha256.js') }}"></script>
<script>
    function build_url_argument_string(url_argument_list) {
        var url_argument_string = '';

        if (undefined === url_argument_list)
            return '';

        for (var url_argument_index in url_argument_list)
            eval('url_argument_string+="' + url_argument_index + '="+url_argument_list.' + url_argument_index + '+"&"');

        if (url_argument_string.length)
            url_argument_string = url_argument_string.substr(0, url_argument_string.length - 1);

        return url_argument_string;
    }

    function request_get(request_url, request_argument_list) {
        var request = new XMLHttpRequest();

        request.open('get', request_url + '?' + build_url_argument_string(request_argument_list), false);
        request.send();

        if (4 == request.readyState) {
            return JSON.parse(request.responseText);
        }

        return false;
    }

    function request_post(request_url, request_argument_list) {
        var request = new XMLHttpRequest();

        request.open('post', request_url, false);
        request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        request.send(build_url_argument_string(request_argument_list));

        if (4 == request.readyState) {
            return JSON.parse(request.responseText);
        }

        return false;
    }

    window.pass_tick = null;
    window.auroraWorker = new Worker("{{ static_url('js/fuck.js') }}");
    window.auroraWorker.onmessage = function (message) {
        window.pass_tick = request_post('/valid_captcha', message.data.result);
        document.getElementById('load').src = "{{ static_url('images/bg_color.png') }}";
    };

    function captcha_click() {
        document.getElementById('load').src = "{{ static_url('images/loading.gif') }}";
        var captcha_data = request_get('/get_captcha');
        window.auroraWorker.postMessage({
            'func': null,
            'oper': 'start',
            'pow_list': captcha_data['pow_list'],
            'tick': captcha_data['tick'],
            'magic': captcha_data['magic']
        });
    }
</script>
</body>
</html>